@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: #191f24;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  font-family: Arial, Helvetica, sans-serif;
}

.player {
  border-radius: 20px;

  width: 390px;
  height: 780px;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  color: white;
  transform: translateY(-35px);

  width: 390px;
  height: 260px;
}

.player-title {
  font-family: var(--poppins);
  font-size: 32px;
  margin-bottom: -3px;
}

.player-artist-name {
  font-family: var(--poppins);
  font-size: 24px;
}

.music-time {
  font-family: var(--poppins);
  font-size: 14px;
}

.main-navigation {
  margin-top: 30px;
}

/* range time config */

.range-time {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 390px;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 5px;

  width: 354px;
}

/* navigation buttons config */

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 390px;
  height: auto;
}

.repeat-button, .shuffle-button {
  font-size: 23px;
  opacity: 0.5;

  cursor: pointer;

  width: 26px;
  height: 26px;
}

.repeat-button:active, .shuffle-button:active {
  font-size: 20px;
  
  width: 23px;
  height: 23px;
}

.backward-step-button, .forward-step-button {
  font-size: 40px;

  cursor: pointer;

  width: 25px;
  height: 40px;
}

.backward-step-button:active, .forward-step-button:active {
  font-size: 35px;

  width: 23px;
  height: 35px;
}

.play-button {
  border-radius: 50%;
  border: 1px solid #3A5766;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 79px;
  height: 79px;
}

.play-button:active {
  width: 76px;
  height: 76px;
}

.ball {
  background: linear-gradient(7deg, #253037, #3A5766), 
  linear-gradient(17deg, #496D7A, #3A5766),
  linear-gradient(42deg, #2B4048, #3A5766);

  border-radius: 50%;
  position: absolute;

  filter: blur(2px);

  width: 78px;
  height: 78px;
}

.ball:active {
  width: 75px;
  height: 75px;
}

.fa-play {
  position: absolute;
  font-size: 40px;
}

.fa-pause {
  position: absolute;
  font-size: 40px;
}

.fa-play:active, .fa-pause:active {
  font-size: 37px;
}

/* Range visual */

#music-range {
  -webkit-appearance: none;
  outline: none;
  
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  
  overflow: hidden;

  width: 354px;
  height: 7px;
}

#music-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  
  border-radius: 50%;
  background-color: white;
  border: none;
  box-shadow: -400px 0 0 400px white;

  cursor: pointer;

  width: 10px;
  height: 10px;
}

/* waves */

#wave {
  transform: translateY(25px);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  transform: translateY(25px);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wave .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 5px;
  border-radius: 50px;
  margin: 0 5px;
}

.loader .stroke{
    background: #f1f1f1;
    height: 150%;
    width: 5px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
}
  @keyframes animate {
    50% {
      height: 20%;
      background: #CDCDCD;
    }

    100% {
      background: white;
      height: 100%;
    }
  }
  .stroke:nth-child(1){
      animation-delay: 0s;
  }
  .stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.9s;
}
.stroke:nth-child(4){
    animation-delay: 0.4s;
}
.stroke:nth-child(5){
    animation-delay: 0.2s;
}
.stroke:nth-child(6){
    animation-delay: 1s;
}
.stroke:nth-child(7){
    animation-delay: 0.7s;
}

/* HOLLYWOOD'S BLEEDING */

.player#holybleed {
  background-color: black;
  box-shadow: 
    -1px -1px 10px rgba(0, 0, 0, 0.418),
    1px 1px 10px rgba(0, 0, 0, 0.377);
}

.player-album-image#holybleed {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 
    inset 0 -33px 50px 17px rgba(0, 0, 0),
    inset 0 0 50px 17px rgba(0, 0, 0);

  width: 390px;
  height: 496px;
}

.player-title#holybleed {
  color: #CDCDCD;
}

.player-artist-name#holybleed {
  color: #9CA5AF;
}

.time#holybleed {
  color: #9CA5AF;
}

/* ===============================
       FOLKLORE - BETTY */

.player#betty {
  background-color: #929292;
  box-shadow: 
    -1px -1px 10px #4d4d4d,
    1px 1px 10px #4d4d4d;
}

.player-album-image#betty {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 
    inset 0 -33px 50px 17px #929292,
    inset 0 0 50px 17px #929292;
  
  width: 390px;
  height: 496px;
}

.player-title#betty {
  color: #191f24;
}

.player-artist-name#betty {
  color: #4d4d4d;
}

.time#betty {
  color: white;
}

/* ==================================
    HAPPIER THAN EVER - BILLIE  */

.player#hte {
  background-color: #906D4D;
  box-shadow: 
    -1px -1px 10px #906D4D,
    1px 1px 10px #906D4D;
}

.player-album-image#hte {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 
    inset 0 -33px 50px 17px #906D4D,
    inset 0 0 50px 17px #906D4D;

  width: 390px;
  height: 496px;
}

.player-title#hte {
  color: #dbc0a7;
}

.player-artist-name#hte {
  color: #5f4023;
}

.time#hte {
  color: #dbc0a7;
}

/* ==================================
      SONG OF TIME - LESS */

.player#sot {
  background-color: #6ADB7F;
  box-shadow: 
    -1px -1px 10px #6ADB7F,
    1px 1px 10px #6ADB7F;
}

.player-album-image#sot {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 
    inset 0 -33px 50px 17px #6ADB7F,
    inset 0 0 50px 17px #6ADB7F;

  width: 390px;
  height: 496px;
  
}

.player-title#sot {
  color: #ececec;
}

.player-artist-name#sot {
  color: #CDCDCD;
}

.time#sot {
  color: #CDCDCD;
}

/* ==================================
      STARBOY - THE WEEKND */

.player#starboy {
  background-color: #CC0026;
  box-shadow: 
    -1px -1px 10px #e00029ce,
    1px 1px 10px #e00029ce;
}
.player-album-image#starboy {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 
    inset 0 -33px 50px 17px #e00029ce,
    inset 0 0 50px 17px #e00029ce;
  
  width: 390px;
  height: 496px;
}

.player-title#starboy {
  color: #ececec;
}

.player-artist-name#starboy {
  color: #CDCDCD;
}

.time#starboy {
  color: #CDCDCD;
}

/* ==================================
      HAPPINES IS A BUTTERFLY - Lizzy */

.player#nfr {
  background-color: #b10e2c;
  box-shadow: 
    -1px -1px 10px #91031d,
    1px 1px 10px #91031d;
}

.player-album-image#nfr {
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 
    inset 0 -33px 50px 17px #b10e2c,
    inset 0 0 50px 17px #b10e2c;

  width: 390px;
  height: 496px;
}

.player-title#nfr {
  color: #ececec;
}

.player-artist-name#nfr {
  color: #CDCDCD;
}

.time#nfr {
  color: #CDCDCD;
}
      
/* ==================================
      MELODRAMA - LORDE */

.player#melodrama {
  background-color: #0C4AAF;
  box-shadow: 
    -1px -1px 10px #0a43a0,
    1px 1px 10px #0a48ad;
}

.player-album-image#melodrama {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 
    inset 0 -33px 50px 17px #0C4AAF,
    inset 0 0 50px 17px #0C4AAF;
  
  width: 390px;
  height: 496px;
}

.player-title#melodrama {
  color: #ececec;
}

.player-artist-name#melodrama {
  color: #CDCDCD;
}

.time#melodrama {
  color: #CDCDCD;
}