@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: #191f24;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  font-family: Arial, Helvetica, sans-serif;
}

.player {
  background-color: black;
  border-radius: 20px;
  box-shadow: 
    -1px -1px 10px rgba(0, 0, 0, 0.418),
    1px 1px 10px rgba(0, 0, 0, 0.377);

  width: 390px;
  height: 780px;
}

.player-album-image {
  background: url(images/HollywoodsBleeding.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 
  inset 0 -75px 50px 17px rgba(0, 0, 0),
  inset 0 0 50px 17px rgba(0, 0, 0);

  width: 390px;
  height: 496px;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  color: white;
  transform: translateY(-35px);

  width: 390px;
  height: 260px;
}

.player-title {
  font-family: var(--poppins);
  font-size: 32px;
  color: #CDCDCD;
  margin-bottom: -3px;
}

.player-artist-name {
  font-family: var(--poppins);
  font-size: 24px;
  color: #9CA5AF;
}

.music-time {
  font-family: var(--poppins);
  font-size: 14px;
  color: #9CA5AF;
}

.barrs {
  display: flex;
  align-items: flex-end;
  justify-content: start;
}

.bars {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.bar {
  position: absolute;

  width: 60px;
  height: 56px;
}

#bar1 {
  background: linear-gradient(to right, black, #0000000e);
}

#bar2 {
  background: linear-gradient(to left, black, #0000000e);
}

.main-navigation {
  margin-top: 30px;
}

/* range time config */

.range-time {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 390px;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 5px;

  width: 354px;
}

/* navigation buttons config */

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 390px;
  height: auto;
}

.repeat-button, .shuffle-button {
  font-size: 23px;
  opacity: 0.5;

  cursor: pointer;

  width: 26px;
  height: 26px;
}

.backward-step-button, .forward-step-button {
  font-size: 40px;

  cursor: pointer;

  width: 25px;
  height: 40px;
}

.play-button {
  border-radius: 50%;
  border: 1px solid #3A5766;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 79px;
  height: 79px;
}

.ball {
  background: linear-gradient(7deg, #253037, #3A5766), 
  linear-gradient(17deg, #496D7A, #3A5766),
  linear-gradient(42deg, #2B4048, #3A5766);

  border-radius: 50%;
  position: absolute;

  filter: blur(2px);

  width: 78px;
  height: 78px;
}

.fa-play {
  position: absolute;
  font-size: 40px;
}

.fa-pause {
  position: absolute;
  font-size: 40px;
}

/* Range visual */

#music-range {
  -webkit-appearance: none;
  outline: none;
  
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  
  overflow: hidden;

  width: 354px;
  height: 7px;
}

#music-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  
  border-radius: 50%;
  background-color: white;
  border: none;
  box-shadow: -400px 0 0 400px white;

  cursor: pointer;

  width: 10px;
  height: 10px;
}

/* waves */

#wave {
  transform: translateY(25px);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  transform: translateY(25px);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wave .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 5px;
  border-radius: 50px;
  margin: 0 5px;
}

.loader .stroke{
    background: #f1f1f1;
    height: 150%;
    width: 5px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
}
  @keyframes animate {
    50% {
      height: 20%;
      background: #CDCDCD;
    }

    100% {
      background: white;
      height: 100%;
    }
  }
  .stroke:nth-child(1){
      animation-delay: 0s;
  }
  .stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.9s;
}
.stroke:nth-child(4){
    animation-delay: 0.4s;
}
.stroke:nth-child(5){
    animation-delay: 0.2s;
}
.stroke:nth-child(6){
    animation-delay: 1s;
}
.stroke:nth-child(7){
    animation-delay: 0.7s;
}
